# FORMAS DE CONEXAO

# Conexao com o WINDOWNS Authentification
#CONNECTION_STRING=Server=Localhost;Database=GestaoPatrimonios;Trusted_Connection=True;TrustServerCertificate=True

# SQL Server Authentication (usuario e senha)
# CONNECTION_STRING=Server=Localhost;Database=GestaoPatrimonios;Trusted_Connection=True;TrustServerCertificate=True